body{
    background-color: black;
    background-image: url(./images/basketball1.jpg);
    background-size:cover;
    background-repeat:none;
    color: white;
}

#answers{
    text-align: center;
    font-size: 22px;
}
.header{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.result{
    text-align: center;
    border:1px solid white;
    height:150px;
    font-size: 22px;
}
header{
    
    height:300px;
    width:80%;
    font-size:20px;   
    text-align:center;
    margin:0 auto;
}

.underscores{
    border:1px solid black;
    height:150px;
    width:80%;
    font-size:20px;   
    text-align:center;
    margin:0 auto;
}



.wrongGuess{
    border:1px solid white;
    height:150px;
    width:80%;
    font-size:20px;   
    text-align:center;
    margin:0 auto;

}
.text-center{

}
.btn{
    
}

