body{
    background-color: black;
}

p.answers{
    text-align: center;
}
.header{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.container{
    background-image: url(./images/basketball.jpg);
    background-size:cover;
    background-repeat:none;
    color: white;
}

header{
    border:1px solid black;
    height:300px;
    width:80%;
    font-size:20px;   
    text-align:center;
    margin:0 auto;
}

.underscores{
    border:1px solid black;
    height:150px;
    width:80%;
    font-size:20px;   
    text-align:center;
    margin:0 auto;
}



.wrongGuess{
    border:1px solid black;
    height:150px;
    width:80%;
    font-size:20px;   
    text-align:center;
    margin:0 auto;

}
.btn{
    position: relative;
    right: 90px;
}

